<div id="AboutMe" class="text-white" style="margin-top: 15%">
  <p
    class="text-danger text-center display-5"
    style="font-family: 'Kanit', sans-serif"
  >
    About Me
  </p>

  <h1 style="text-align: center">
    <b
      ><i
        >Hi
        <img
          src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif"
          width="25px"
        />, I'm Salih Özkara</i
      ></b
    >
  </h1>

  <h3 style="text-align: center">
    <i>
      I am studying Software Engineering at
      <b>Manisa Celal Bayar University</b>.
    </i>
  </h3>

 
</div>
