<div id="Contact" class="text-white" style="margin-top: 15%;background-color: #E1684D;margin-bottom: -5%;">
    <p
      class="text-white text-center display-5"
      style="font-family: 'Kanit', sans-serif"
    >
    Contact me
    </p>
    <p style="text-align: center">
        <a  href="https://github.com/salihozkara"
          ><img
          class="pt-3"
            src="https://img.shields.io/badge/github-100000?style=for-the-badge&logo=github&logoColor=white" /></a
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <a  href="https://twitter.com/salihozkara_"
          ><img
          class="pt-3"
            src="https://img.shields.io/badge/twitter-%231DA1F2.svg?&style=for-the-badge&logo=twitter&logoColor=white" /></a
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <a  href="https://www.linkedin.com/in/salihözkara/"
          ><img
          class="pt-3"
            src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:salihozkara@outlook.com.tr"
          ><img
          class="pt-3"
            src="https://img.shields.io/badge/Outlook-0078D4.svg?&style=for-the-badge&logo=microsoft%20outlook&logoColor=white" /></a
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <a  href="mailto:salihozkara213@gmail.com"
          ><img
          class="pt-3"
            src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white" /></a
        >&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <br>
</div>  
