<div class="container px-auto">
  <app-nav></app-nav>
  <div id="Home" class="text-white" style="margin-top: 15%">
    <h1 class="text-secondary b1">I'm a</h1>
    <h1 class="b2">SOFTWARE</h1>
    <h1 class="b3">ENGINEER<b class="text-danger">.</b></h1>
    <a class="btn btn-danger text-white" href="#Contact">CONTACT ME</a>
  </div>
</div>
<app-about-me></app-about-me>

  <app-skills></app-skills>


  <app-contact-me></app-contact-me>

<!-- <div class="container">
  <div class="row">
    <app-nav></app-nav>
  </div>
  <div class="row">
    <div id="Home" class="text-white" style="margin-top: 15%">
      <h1 class="text-secondary b1">I'm a</h1>
      <h1 class="b2">SOFTWARE</h1>
      <h1 class="b3">ENGINEER<b class="text-danger">.</b></h1>
      <a class="btn btn-danger text-white" href="#Contact">CONTACT ME</a>
    </div>
  </div>
  <div class="row"><app-about-me></app-about-me></div>
  <div class="row" style="background-color: #222222">
    <app-skills></app-skills>
  </div>
</div> -->
